@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Space Mono Bold'), local('SpaceMono-Bold'), url(https://fonts.gstatic.com/s/spacemono/v3/i7dMIFZifjKcF5UAWdDRaPpZUFuaHjyV.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'UnifrakturMaguntia';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/unifrakturmaguntia-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('UnifrakturMaguntia'),
       url('./fonts/unifrakturmaguntia-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/unifrakturmaguntia-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/unifrakturmaguntia-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/unifrakturmaguntia-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/unifrakturmaguntia-v8-latin-regular.svg#UnifrakturMaguntia') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Farsan';
  font-style: normal;
  font-weight: 400;
  src: local('Farsan Regular'), local('Farsan-Regular'), url(https://fonts.gstatic.com/s/farsan/v3/VEMwRoJ0vY_zsyzKxqWo9DU.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0A80-0AFF, U+200C-200D, U+20B9, U+25CC, U+A830-A839;
}
   

@font-face {
  font-family: 'Six Caps';
  font-style:normal;
  font-weight: 400;
  src: local('Six Caps'), local('SixCaps'), url(https://fonts.gstatic.com/s/sixcaps/v8/6ae_4KGrU7VR7bNmaYcV_3Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
  

 /* latin */
@font-face {
  font-family: 'Racing Sans One';
  font-style: normal;
  font-weight: 400;
  src: local('Racing Sans One'), local('RacingSansOne-Regular'), url(https://fonts.gstatic.com/s/racingsansone/v5/sykr-yRtm7EvTrXNxkv5jfKKyDCAKHDn.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
font-face {
  font-family: 'Farsan';
  font-style: normal;
  font-weight: 400;
  src: local('Farsan Regular'), local('Farsan-Regular'), url(https://fonts.gstatic.com/s/farsan/v3/VEMwRoJ0vY_zsyzK06Wo9DU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}



body

{

    width: 1200px;
    margin: 0 auto;
 font-size: 12pt;

}


.clear-fix:after

{

    display: block;
    clear: both;

    content: '';

}


/*––––––––––––––––––Шапка газеты––––––––––––––––––––*/

.header

{
 
   margin: 35px 0 25px;

}


.header__info

{

    float: left;

    
    box-sizing: border-box;
    
    width: 200px;
    
    padding: 25px 10px;
    
    text-align:center;

    font-size:12pt;   
     border: 1px solid;

}


.header__weather

{

    float: right;
    
    font-family:Farsan,monospace;
     
    width: 200px;

}


.header__weather-title

{

   font-family:Space Mono, monospace;
 
   margin: 0;
    
   font-size:1.17em;
   
   text-align:center;
    
   font-weight:bold;

}


.header__weather-text

{

    margin: 0;
    
    font-size: 0.8em;
    
    line-height:110%;
    
    text-align:justify;

}


.header__title

{
 
    overflow: visible;
    
    text-align:center;
    
    font-family:UnifrakturMaguntia, cursive;
    
    font-size:5em;
    
    text-align:center;
   
    margin: 0;

}



/*––––––––––––––––––Подшапка газеты–––––––––––––––––*/

.sub-header

{

    padding: 5px 0;

    border-top: 1px solid;
    border-bottom: 2px solid;

}


.sub-header__copyright

{

    display: inline-block;
    font-size: 0.6em;
    margin: 0 30px;

}


.sub-header__price

{

    float: right;

}



/*––––––––––––––––––Основной контент––––––––––––––––*/

.content

{
    
    display: flex;

 
}


/*––––––––––––––––––Блок статьи–––––––––––––––––––––*/


.article__title

{

    margin-top: 0;
    margin-bottom: 10px;

}

.left-column .article__title     
{
    font-family:Six Caps,sans-serif;
    
    font-weight:bold;
    
    font-size:3.2em;
    font-variant:small-caps;
   text-align:left !important;
   
}

.right-column .article__title     
{
    font-family:Six Caps,sans-serif;
    
    font-weight:bold;
   
    font-size:3.2em;
    font-variant:small-caps;
}


.article__add-text

{
    
     margin-top: 10px;
   
     margin-bottom: 4px;
   
     line-height:initial;
    
     text-indent:2em;
    
     font-size:0.8em;
    
     font-style:italic;


}


.article__author

{
    
     display: block;

    
     margin-top: 10px;
    
     font-weight:bold;
    
     font-size:0.8em;
    
     text-align:center;
    
     column-span:all;

}


.article__continue

{    
    
    column-span:all;
    
    display: block;
   
    text-align:center;
   
    font-style:italic;
    
    font-size:0.8em;
    

}


.article__image

{
   
    margin: 0;
    text-indent: 0;

}


.article__image.article__image_align_right

{
    float: right;
    margin: 0 0 0 10px;
}

.article__subtitle 

{
    
    margin: 10px 0;
    
   font-family:'Times New Roman',serif;
    
   text-align:center;
    
   font-weight:bold;
     
   font-size:1.17em;
   


}
.article__image-caption
{
    font-size:0.8rem;
    text-decoration:underline;
    text-align:center;
}

/*––––––––––––––––––Блок главной фотографии–––––––––*/

.main-photo__wrapper

{
    
     margin: 0;

}


.main-photo__img

{
    
     width: 100%;

}


.main-photo__title

{
    
     margin: 0;
   
    font-weight:bold;

}


.main-photo__desc

{
    
     margin-bottom: 20px;
  
     font-size:0.8em;

}

.main-photo__caption

{
    float:  right;
    text-transform:uppercase;
    font-size:0.7rem;
}


/*––––––––––––––––––Линия разделения––––––––––––––––*/

.line

{
    border-top: 1px solid #000;
}



.line.line_type_bold

{
    margin-bottom: 3px;

    border-width: 2px;
}



.line.line_type_short

{
    
width: 70px;
    margin: 0 auto;

}

/*––––––––––––––––––Центральные колонки газеты––––––––––––––––––*/

.multicolumn

{
    margin-top: 10px;
}



.multicolumn__right,

.multicolumn__left

{
    
    display: inline-block;

    box-sizing: border-box;
    width: 49%;

    vertical-align: top;


}


.multicolumn__left .article__content,
.multicolumn__right .article__content
{
    column-count:2;
    column-gap:15px;
    font-size:0.8em;
}



.multicolumn__right
{
   
    padding-left: 10px;

}


.article__title.article__title_font_racing
{
    font-family:Racing Sans One,sans-serif;
    text-align:left;
    font-weight:bold;
    font-size:2em;
    font-style:italic;
}

.article__title.article__title_font_farsan

{
    
    font-family:Farsan,sans-serif;
    
         font-size:2.3em;
    
         font-weight:bold;
    font-style:italic;
  
}


.multicolumn__left
{
    padding-right: 10px;

    border-right: 1px solid #000;
}



.multicolumn .line_type_short

{
    width: 50%;
    margin: 10px auto;
}



.multicolumn .article__title
{
    margin: 10px 0 0 0;
}



.center-column
{
    margin-top: 20px;
    padding: 0 10px;

    flex-grow: 2;
}



/*––––––––––––––––––Второстепенные колонки газеты––––––––––––––––––*/


.left-column
{
    border-right: 1px solid #000;
}


.right-column
{
    border-left: 1px solid #000;
}

.right-column,
.left-column {
            box-sizing: border-box;
            width: 200px;
            font-size:0.8em;
            margin-top: 20px;
            padding: 0 10px;
            flex-shrink: 0;
        }


p:not(.header__weather-text){
    margin:0;
    padding:2px;
    text-indent:2ch;
    text-align:justify;


  
}
/*––––––––––––––––––––––––––––––––––––––––––––––––––*/
